[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
max_allowed_packet=16777777
join_buffer_size=16M
innodb_file_per_table=ON
innodb_buffer_pool_size=250M
innodb_flush_log_at_trx_commit=2
log-error=/var/log/mysql/mysql-error.log
log-queries-not-using-indexes=1
slow-query-log=1
slow-query-log-file =/var/log/mysql/mysql-slow.log
### ADDITIONAL ###
max_heap_table_size=128M
tmp_table_size=128M
innodb_buffer_pool_size=2048M
innodb_flush_log_at_timeout=3
innodb_read_io_threads=32
innodb_write_io_threads=16
innodb_buffer_pool_instances=4
innodb_io_capacity=5000
innodb_io_capacity_max=10000
